*{
  background-color: #2a4149;
  color: #fff;
}


.header
    ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a4149;
    top: 0px;
    width: 100%;

  }

 li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  

  img{ float: left;}


/*code for låneskjema*/


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


body {
    margin: 0;
    padding: 0;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Juster høyden etter behov */
}

img {
    margin: 0 0px;
}


@media (max-width:572px){

  img{
    width: 100px;
  }
}


.section-anbe{
  height: 300px;
  width: full;
  background-color: #2a4149;
  padding-top: 0px;
  
}

.anbef1{
  
  color: azure;
  padding: 0px;
  text-align: center;
  width: 200px;
  
  
}

.artikkel{
  padding: 20px;

}


.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Juster høyden etter behov */
  background-color: #a8a8a8;
}
.artikkel-ansatt{
  padding: 20px;
background-color: #a8a8a8;
}

.anbef-ansatt{
  
  color: azure;
  padding: 0px;
  text-align: center;
  width: 200px;
  background-color: #a8a8a8;
  
}

.anbef-ansatt > h1{
  background-color: #a8a8a8;
}

.artikkel-ansatt > img{
  border-radius: 100px;
}


.populere-artik{

  text-align: center;
}